:root {
  --main-color: #aacaf4;
  --sub-color: #ff9656;
  --sub-color-2: #db4f40;
  --sub-color-3: #528db1;
  --horizontal-space: 25px;
  --main-border: 1px solid rgba(0, 0, 0, 0.2);
  --grey-05: rgba(0, 0, 0, 0.5);
  --main-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.1);
}
