#friends-display-link {
  text-align: center;
  display: block;
  background-color: #fafafa;
  padding: 15px 0px;
  font-size: 18px;
  margin: -15px 40px 15px;
  border-radius: 30px;
}

#friends-display-link {
  color: rgba(0, 0, 0, 0.3);
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}

.friends-screen__channel {
  margin-top: 25px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding: 15px;
}

.friends-screen__channel-header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  color: var(--grey-05);
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#splash-screen {
  background-color: var(--main-color);
  position: fixed;
  height: 110vh;
  width: 100vw;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 122px;
  animation: hideSplashScreen 0.3s ease-in-out forwards;
  animation-delay: 2s;
}

.friends-list {
  display: flex;
  flex-direction: column;
}

.friends-list__column {
  display: flex;
  align-items: center;
  border-radius: 20px;
  padding: 5px;
  margin: 5px 0;
}

.friends-list__column:hover {
  animation: hoverShadow 1s ease-in-out infinite;
}

.friends-list__column:nth-child(2) {
  margin: 10px 0;
}

.friends-list__column .user-component__title {
  margin-bottom: 0px;
}
