.welcome-header {
  margin: 90px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.welcome-header__title {
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: 600;
}
.welcome-header__text {
  width: 60%;
  opacity: 0.7;
}

#login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}

#login-form input {
  border: none;
  padding: 15px 30px;
  font-size: 18px;
  margin-bottom: 25px;
  border-radius: 30px;
}

#login-form input:not([type="submit"]) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  transition: border-color 0.3s ease-in-out;
}

#login-form input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

#login-form input:focus {
  background-color: var(--sub-color-2 0.2);
}

#login-form input[type="submit"] {
  background-color: var(--sub-color-2);
  cursor: pointer;
  padding: 20px 0px;
  border-radius: 20px;
  box-shadow: inset 3px 3px 4px rgba(238, 194, 194, 0.699),
    inset -3px -3px 4px rgba(0, 0, 0, 0.5);
}

#login-form input[type="submit"]:active {
  box-shadow: inset -3px -3px 4px rgba(238, 194, 194, 0.699),
    inset 3px 3px 4px rgba(0, 0, 0, 0.5);
}

#login-form input[type="text"]:hover,
#login-form input[type="password"]:hover {
  animation: hoverShadow 2s ease-in-out infinite;
}

#login-form a {
  text-align: center;
  text-decoration: none;
  color: inherit;
  font-size: 13px;
}
