.more-screen-body .icon-row {
  margin-top: 35px;
}
.more-suggestions {
  margin-top: 50px;
  border-top: var(--main-border);
  padding-bottom: 15px;
}

#more-screen-body .user-component:hover {
  animation: none;
}

.more-suggestions__icons {
  display: flex;
  justify-content: space-between;
}

.more-suggestions__icon {
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.more-suggestions__icon-image {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.more-suggestions__icon img {
  width: 75px;
}

.more-suggestions__icon-image i {
  font-size: 32px;
  color: white;
}

.more-suggestions__icon:first-child img:hover {
  animation: rotate360 2s ease-in-out infinite;
}

.more-suggestions__icon:nth-child(2) img:hover,
.more-suggestions__icon:nth-child(3) img:hover {
  animation: bounce 0.8s cubic-bezier(0.6, 0, 0.735, 0.045) infinite;
}

.more-suggestions__icon:last-child img:hover {
  animation: Motorcycle 1.5s ease-in-out infinite;
}

@keyframes Motorcycle {
  0% {
    transform: none;
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: none;
  }
  75% {
    transform: translate(40px);
  }
  100% {
    transform: none;
  }
}

@keyframes rotate360 {
  from {
    transform: none;
  }
  to {
    transform: rotate(1turn);
  }
}
