.settings__setting {
  padding: 20px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settings__setting i {
  opacity: 0.8;
  margin-right: 20px;
  font-size: 22px;
}

.settings__setting i:hover {
  animation: zoomIcon 1s ease-in-out infinite;
}

.settings__setting:last-child {
  border-bottom: none;
}

.settings_setting-column:last-child {
  opacity: 0.5;
}

.settings__setting:first-child .settings_setting-column:last-child {
  opacity: 1;
}

.settings_setting-column img {
  height: 30px;
  width: 30px;
  animation: bounce 0.8s cubic-bezier(0.6, 0, 0.735, 0.045) infinite;
}
