.icon-row {
  display: flex;
  flex-wrap: wrap;
  color: var(--sub-color);
  margin: 0px;
}

.icon-row__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  padding: 10px;
  box-sizing: border-box;
  padding-top: 25px;
  text-align: center;
  border-radius: 40px;
}

.icon-row__icon i {
  font-size: 35px;
}

.icon-row__icon span {
  margin-top: 18px;
}

.icon-row__icon:hover {
  animation: hoverShadow 1s ease-in-out infinite;
}
