#no-mobile,
#no-landscape {
  position: fixed;
  z-index: 99;
  height: 100vh;
  width: 100vw;
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  top: 0;
}

#chat-screen-body #no-mobile {
  height: 100vh;
  z-index: 99;
}

@media screen and (max-width: 650px) {
  #no-mobile {
    display: none;
  }
}

@media (orientation: portrait) {
  #no-landscape {
    display: none;
  }
}
