.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  margin-top: 25px;
  margin-bottom: 15px;
  background-color: var(--sub-color);
}

#friends-screen-body .screen-header {
  margin-bottom: 0;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: 25px;
}

@keyframes zoomIcon {
  0% {
    transform: none;
  }
  50% {
    transform: scale(1.2);
    color: var(--sub-color-2);
  }
  100% {
    transform: none;
  }
}

.screen-header__icons .fa-comment-dots:hover,
.screen-header__icons .fa-music:hover,
.screen-header__icons .fa-search:hover {
  animation: zoomIcon 1s ease-in-out infinite;
}

@keyframes rotatecog {
  0% {
    transform: none;
  }
  50% {
    transform: rotateZ(360deg);
    color: var(--sub-color-2);
  }
  100% {
    transform: none;
  }
}

.screen-header__icons .fa-cog:hover {
  animation: rotatecog 2s ease-in-out infinite;
}

.screen-header .setting-notification {
  margin-top: -30px;
  margin-left: 97px;
}
