.user-component {
  justify-content: space-between;
  margin: 10px;
}

.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
}

.user-component {
  border-radius: 30px;
  padding-right: 5px;
}

.user-component:hover {
  animation: hoverShadow 1s ease-in-out infinite;
}

.user-component__avatar {
  width: 70px;
  height: 70px;
  border-radius: 30px;
  margin-right: 20px;
}

.user-component__title {
  font-weight: 600;
  font-size: 22px;
}

.user-component__subtitle {
  margin-top: 8px;
  font-size: 17px;
  color: var(--grey-05);
}

.user-component__avatar--xl {
  width: 80px;
  height: 80px;
}

.user-component__avatar--sm {
  width: 60px;
  height: 60px;
  border-radius: 25px;
}

.user-component__title--not-bold {
  font-weight: 400;
}

.user-component__text h6 {
  opacity: 0.8;
  margin-top: 3px;
}

.user-component__column:last-child {
  color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.user-component__column:last-child .badge {
  animation: upDown 1.5s ease-in-out infinite;
}

.user-component__time {
  margin-bottom: 10px;
  display: block;
}

.user-component__phonenumbers {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-component__phonenumbers i {
  color: var(--sub-color-2);
  margin-left: 5px;
}

.user-component__column .phone-img {
  width: 100px;
  animation: Vibrate 1s ease-in-out infinite;
  z-index: 50;
}

@keyframes Vibrate {
  0% {
    transform: none;
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: none;
  }
}

#chats-screen-body .main-screen .user-component__column {
  padding: 10px;
  border-radius: 30px;
}
